body, html {
    height: 100%;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
  background-color:  rgb(0, 0, 0);
  width: 10px;
}
body::-webkit-scrollbar-thumb{
  background-color: #ff0000;
  border-radius: 15px;
}

body{
  background-color: rgb(15, 15, 15);
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: .6em;
  background:  rgb(0, 0, 0);
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: .6em;
  background: #ff0000;
  width: 0%;
}

.hero-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50%;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.678)), url(..//img/background.jpg);
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1{
    font-size: 10vh;
    color: white;
    margin-bottom: 0%;
    margin-top: 0%;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

.hero-text p{
    font-size: 2.5vh;
    margin-top: 0%;
}

.hero-text h1 span{
  color: rgb(255, 0, 0);
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

.hero-text i {
    display: inline-block;
    padding: 12px 35px;
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 50px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.wave{
    position: relative;
    top: -9%;
    width: 100%;
}

.invisible{
  opacity: 0;
}

@media screen and (max-width: 543px) {
  .hero-text h1 {
    font-size: 6.5vh;
  }
  .hero-text p {
    font-size: 2vh;
  }
}

@media screen and (max-width: 383px) {
  .hero-text h1 {
    font-size: 5.5vh;
  }
  .hero-text p {
    font-size: 2vh;
  }
}



/*====== GRID ======*/
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    width: 98%;
    margin: auto;
    margin-top: 0%;
  }

  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 24%; /* IE10 */
    flex: 24%;
    max-width: 24%;
    margin: .5%;
    top: 0%;
  }

  .column img {
    vertical-align: middle;
    width: 100%;
    margin-top: 5%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 48%;
      flex: 48%;
      max-width: 48%;
      margin: 1%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

.foto{
  border-radius: 25px;
}

/* ===== FOOTER ===== */
.footer{
  color: #fff;
  text-align: center;
  padding-bottom: 2rem;
  display: block;
  z-index: 1;
  position:relative;
  background-color: #000000;
}

.footer__title{
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
  margin-top: 0%;
  font-size: 50px;
}

.footer__title span{
  color: #ff0000;
}

.footer__social{
  margin-bottom: 2rem;
}

.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 1rem;
}

.footer__icon:hover{
  color: red;
}

.footer__copy{
  font-weight: 300;
  font-size: 0.980rem;
}

.wave{
  position: relative;
  width: 100%;
}

.dev{
  text-decoration: none;
  color: #fff;
}

.dev:hover{
  color: red;
}


/* ===== BACK TO TOP BUTTON =====*/
#back-to-top-btn {
  z-index: 1000;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: rgb(15, 15, 15);
  color: red;
  cursor: pointer;
  outline: none;
  border: 2px solid red;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
  background-color: white;
  color: red;
  border: 2px solid red;
}

/* = Animations = */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* = fadeInUp = */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

/* = fadeOutDown = */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
